@charset "utf-8";
#wrap {width:1200px; height:auto; margin:0 auto; padding: 60px 10px 10px 10px; }


/***상품구매창***/
#buy {width:1200px; height:680px;  margin:0 auto;}
.left {width:540px; height:700px; float:left; margin:0 0 0 80px;}
.left img {width:550px; height:550px; overflow:hidden; border-radius:10px;}

.slide ul li {float:left; margin:20px 10px 0 0px;}
.slide ul li:hover {cursor:pointer;}
.slide {width:540px; height:100px; float:left; margin:0 0 0 40px;}
.w1 {width:400px; height:300px;}
.slide img {width:80px; height:80px; }

.right {width:360px; height:530px; float:right; margin:50px 150px 0 0;}

.toptable {width:360px; height:300px; margin:8px 0 0 10px; float:left; border-bottom:1px solid#d3d3d3;}
.toptable td {padding:6px;}
.toptable tr:first-child {font-weight:800; color: rgb(96, 96, 96);}
.toptable tr:nth-child(2) {font-size:20px; font-weight:800; margin:0 0 20px 0; color: #4d4d4d;}
.toptable tr:nth-child(3) {font-size:20px; color:rgb(208, 208, 208); font-weight:800;}
.toptable tr:nth-child(4) {font-size:30px; font-weight:900;}
.toptable tr:nth-child(5) button:first-child {width:90px; height:30px; background-color:rgb(222, 77, 77); color:#fff; font-weight:900; border:none; border-radius:8px;}
.toptable tr:nth-child(5) {font-size:30px; font-weight:900; color:rgb(231, 71, 71);;}
.toptable tr:nth-child(6) {font-size:15px; font-weight:800; color: #4d4d4d;}
.toptable tr:nth-child(7) {font-size:15px; font-weight:800; color: #4d4d4d;}
.toptable tr:nth-child(8) {font-size:15px; font-weight:800; color: #4d4d4d;}
.toptable th {color: #afafaf; float:left; margin:0 0 0 4px; }
.toptable tr:nth-child(8) {font-size:15px; font-weight:800;}

.bottomtable {width:360px; height:240px; float:left;}
.bottomtable p {float:left; margin:20px 0 10px 15px; font-size:15px;}
.bottomtable #select {width:330px; height:40px; color:#b0b0b0; border:1px solid #dddcdc; border-radius:8px; margin:0 0 5px 15px; font-weight:900;}
.bottomtable #select2 {width:330px; height:40px; color:#b0b0b0; border:1px solid #dddcdc; border-radius:8px; margin:0 0 0 15px; font-weight:900;}
.bottomtable tr:last-child button:first-child {width:155px; height:50px; background-color:rgb(249, 188, 188); color:rgb(243, 67, 67); font-weight:900; border:none; font-size:14px; border-radius:8px; margin:30px 0 0 15px; cursor: pointer;}
.bottomtable tr:last-child button:last-child {width:155px; height:50px; background-color:rgb(243, 67, 67); color:#fff; font-weight:900; border:none; font-size:14px; border-radius:8px; margin:0 0 0 10px; cursor: pointer;}




/***이벤트배너***/
#contents {width:780px; height:auto; margin:0 auto; padding:100px 10px 10px 10px;}
.contentstop {width:780px; height:270px; margin:0 auto; border-bottom:2px solid #b8b8b8;}
.iventbanner {width:100%; height:170px;}
.iventbanner a img{width:100%; height:100%; float:left;}
.contentstop h2 {font-size:23px; font-weight:800; float:left; margin:60px 0 0 0;}

/***상품이미지&설명***/
.imgbox1 {width:750px; height:950px; margin:40px 0 0 15px;}
.imgbox1 img {width:100%; height:100%;}


.imgbox2 {width:350px; height:90px; margin:40px 0 0 200px;}
.imgbox2 img {width:100%; height:100%;}




/***상세정보***/
#information {width:800px; height:auto; margin:80px 0 0 0;}
.informationbox {width:470px; height:430px; background-color:#f4f4f4; margin:0 auto; padding:35px 20px 0 50px;}
.informationbox  h5 {font-size:35px; float:left; margin:0 0 40px 140px;}
.informationbox table {width:400px; height:250px; float:left; margin:0 0 20px 0;}
.informationbox table td {color: #7d7d7d;}

.informationbox p {font-size:16px; color:#7d7d7d; float:left; line-height:1.5;}


/***구매전확인***/
.warning {width:460px; height:200px; border:2px solid #000;  margin:100px 0 100px 115px; padding:50px;}
.warning p {font-size:30px; margin:0 0 40px 130px;}
.warning span {font-size:17px; line-height:1.5;}


/***상품정보 제공고시***/
.informationbox2 {width:600px; height:300px; margin:0 auto;}
.informationbox2 p {font-size:18px; font-weight:bold; text-align:center; margin:0 0 30px -10px;}
.informationbox2 table {width:500px; height:200px; margin:0 auto; font-size:10px; border:1px solid #7d7d7d;}
.informationbox2 table tr {border:1px solid #7d7d7d; padding:4px;}
.informationbox2 table tr td:nth-child(odd) {background-color:#f4f4f4; width:200px;}
.informationbox2 td {padding:4px;}


/***리뷰***/
#review {width:760px; height:500px; margin:0 auto;}
.reviewtop {width:100%; height:70px; margin:0 auto; border-bottom:1px solid#d3d3d3;}
.reviewtop span:first-child {font-size:21px; font-weight:900; float:left; margin:10px 20px 0 0;} 
.reviewtop span:nth-child(2) {font-size:16px; float:left; color:red; margin:15px 0 0 0;}
.reviewtop button {width:150px; height:40px; background-color:rgb(243, 67, 67); float:right; border:none; margin:20px 0 0 0; color:#fff; font-weight:900;}

.reviewmiddel {width:100%; height:150px; margin:0 auto;}
.reviewmiddel p {font-size:90px; color: #b0b0b0; font-weight:900; float:left; margin:40px 0 0 70px;} 
.reviewmiddel span {float:right; margin:30px 70px 0 0;}

.reviewbottom {width:700px; height:280px; margin: 0 auto; padding:20px 20px 0 30px;}
.reviewbottom  span:first-child {font-size: 21px; float:left; font-weight:800; margin:0 10px 0 40px;}
.reviewbottom  span:nth-child(2) {font-size:15px; color:#d3d3d3; float:left; margin:2px 0 0 0;}
.reviewbottom  span:nth-child(3) {font-size:20px; float:right; margin:2px 70px 0 0;}
.reviewbottom .bottomtext {display:block; margin:20px 80px 0 40px; line-height:25px;}


/***Q&A***/
.qna {width:100%; height:340px; margin:90px 0 0 0 ;} 
.qnatop {width:100%; height:60PX; float: left; padding:20px 0 0 0; border-bottom:1px solid #b0b0b0;}
.qnatop span {font-size:20px; font-weight:800;}
.qnatop button {width:150px; height:40px; background-color:none; font-size:15px; float:right;} 
.qna p {float:left; margin:50px 0 0 0;}
.qnabottom {width:100%; height:110px; float:left; margin:40px 0 0 0; border-top:1px solid #b0b0b0; border-bottom:1px solid #b0b0b0;}
.qnabottom p {font-size:22px; font-weight:900; float:left;}

